<%- include("../partials/header"); %>

<!-- display the signed-in users favorited AI Platforms -->
<table id="list">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Industry</th>
        <th>More Info</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
       <% user.favorites.forEach(p => { %>
        <tr>
            <td><%= p.name %></td>
            <td><%= p.description %></td>
            <td><%= p.industry %></td>
            <td>
                <!-- GET request to view more information about the chosen AI Platform -->
                <form action="/companies/<%= p._id %>" method="GET">
                    <input type="submit" value="More Info">
                </form>
            </td>
            <td>
                <!-- POST request to delete the current AI Platform from the user's favorited list -->
                <form action="/favorites/<%= user._id %>/<%= p._id %>?_method=DELETE" method="POST">
                    <input type="submit" value="Remove">
                </form>
            </td>
        </tr>
       <% }); %>
    </tbody>
</table>

<%- include("../partials/footer"); %>