<%- include("../partials/header"); %>

<!-- display the signed-in users favorited AI Platforms -->
<section id="platforms-index-page">
    <h1 id="favorites-index-title"><strong><%= title %></strong></h1>
    <div id="platforms-index-head">
        <div id="platforms-index-head-row">
            <div>
                <strong>Name</strong>
                <div id="name-sort-btns">
                    <form action="/favorites/sortNamesAscend" method="GET">
                        <input type="image" value="" id="sort-names-ascend" src="https://cdn4.iconfinder.com/data/icons/arrows-246/24/Sort-Down-arrow-drop-triangle-512.png">
                    </form>
                    <form action="/favorites/sortNamesDescend" method="GET">
                        <input type="image" value="" id="sort-names-descend" src="https://www.svgrepo.com/show/352496/sort-up.svg">
                    </form>
                </div>
            </div>
            <div>
                <strong>Description</strong>
            </div>
            <div>
                <strong>Industry</strong>
                <div id="industry-sort-btns">
                    <form  action="/favorites/sortIndustryAscend" method="GET">
                        <input type="image" value="" id="sort-industry-ascend" src="https://cdn4.iconfinder.com/data/icons/arrows-246/24/Sort-Down-arrow-drop-triangle-512.png">
                    </form>
                    <form action="/favorites/sortIndustryDescend" method="GET">
                        <input type="image" value="" id="sort-industry-descend" src="https://www.svgrepo.com/show/352496/sort-up.svg">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <% user.favorites.forEach(p => { %>
    <div id="platforms-index-each-platform">
        <div><%= p.name %></div>
        <div id="platform-descriptions"><%= p.description %></div>
        <div><%= p.industry %></div>
        <div>
            <!-- GET request to view more info about the chosen AI Platform -->
            <form action="/companies/<%= p._id %>" method="GET">
                <input type="submit" value="" class="platforms-index-btns" id="platforms-index-info-btn">
            </form>
        </div>
        <div>
            <!-- POST request to delete the current AI Platform from the user's favorited list -->
            <form action="/favorites/<%= user._id %>/<%= p._id %>?_method=DELETE" method="POST">
                <input type="submit" value="" class="platforms-index-btns" id="favorites-index-delete-btn">
            </form>
        </div>
    </div>
    <% }); %>
</section>

<%- include("../partials/footer"); %>
