<%- include("../partials/header"); %>

<section>
    <div><strong>Name: </strong><%= platform.name %></div>
    <div><strong>Description: </strong><%= platform.description %></div>
    <div><strong>Industry: </strong><%= platform.industry %></div>
    <div><strong>Company Name: </strong>
        <% if (platform.company.length === 1) { %>
            <%= platform.company.name %>
        <% } %>
    </div>
    <div><strong>Year Created: </strong>
        <% if (platform.company.length === 1) { %>
            <%= platform.company.yearCreated %>
        <% } %>
    </div>
    <div><strong>Website: </strong>
        <% if (platform.company.length === 1) { %>
            <%= platform.company.website %>
        <% } %>
    </div>
</section>

<% if (!Array.isArray(platform.company) || !platform.company.length) { %>
    <form action="/companies/new/<%= platform._id %>" method="GET">
        <input type="submit" value="Add Company Info">
    </form>
<% } %>

<form action="/platforms/<%= platform._id %>" method="GET">
    <input type="submit" value="Edit">
</form>

<form action="/platforms/<%= platform._id %>?_method=DELETE" method="POST">
    <input type="submit" value="Delete">
</form>


<%- include("../partials/footer"); %>