<%- include("../partials/header"); %>

<!-- display the AI Platform's -->
<section id="platforms-index-page">
    <h1 id="platforms-index-title"><strong><%= title %></strong></h1>
    <div id="platforms-index-head">
        <div id="platforms-index-head-row">
            <div>
                <strong>Name</strong>
                <div id="name-sort-btns">
                    <form action="/platforms/sortNamesAscend" method="GET">
                        <input type="image" value="" id="sort-names-ascend" src="https://cdn4.iconfinder.com/data/icons/arrows-246/24/Sort-Down-arrow-drop-triangle-512.png">
                    </form>
                    <form action="/platforms/sortNamesDescend" method="GET">
                        <input type="image" value="" id="sort-names-descend" src="https://www.svgrepo.com/show/352496/sort-up.svg">
                    </form>
                </div>
            </div>
            <div>
                <strong>Description</strong>
            </div>
            <div>
                <strong>Industry</strong>
                <div id="industry-sort-btns">
                    <form  action="/platforms/sortIndustryAscend" method="GET">
                        <input type="image" value="" id="sort-industry-ascend" src="https://cdn4.iconfinder.com/data/icons/arrows-246/24/Sort-Down-arrow-drop-triangle-512.png">
                    </form>
                    <form action="/platforms/sortIndustryDescend" method="GET">
                        <input type="image" value="" id="sort-industry-descend" src="https://www.svgrepo.com/show/352496/sort-up.svg">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <% platforms.forEach(p => { %>
        <div id="platforms-index-each-platform">
            <div><%= p.name %></div>
            <div id="platform-descriptions"><%= p.description %></div>
            <div><%= p.industry %></div>
            <div>
                <!-- GET request to view more info about the chosen AI Platform -->
                <form action="/companies/<%= p._id %>" method="GET">
                    <input type="submit" value="" class="platforms-index-btns" id="platforms-index-info-btn">
                </form>
            </div>
            <div>
                <!-- if a user is signed-in and the rendered AI Platform is in the user's favorites list -->
                <!-- show a gold star, else show an empty star -->
                <% if (user && userFavorites.includes(p.id)) { %>
                <!-- POST request to favorite the chosen AI Platform -->
                <form action="/favorites/<%= p.id %>" method="POST">
                    <input type="image" value="" class="platforms-index-btns" src="https://t4.ftcdn.net/jpg/06/55/12/17/360_F_655121796_WgVfZM3S54acvmK2eBHfexjQgq0QdQvS.jpg">
                </form>
                <% } else { %>
                <!-- POST request to favorite the chosen AI Platform -->
                <form action="/favorites/<%= p.id %>" method="POST">
                    <input type="image" value="" class="platforms-index-btns" src="https://cdn-icons-png.freepik.com/512/32/32172.png">
                </form>
                <% } %>
            </div>
        </div>
    <% }); %>
</section>

<%- include("../partials/footer-scrollable"); %>
