<%- include("../partials/header"); %>

<!-- display the AI Platform's -->
<table id="list">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Industry</th>
        <th>More Info</th>
        <th>Favorite</th>
    </tr>
    </thead>
    <tbody>
    <% platforms.forEach(p => { %>
        <tr>
            <td><%= p.name %></td>
            <td><%= p.description %></td>
            <td><%= p.industry %></td>
            <td>
                <!-- GET request to view more info about the chosen AI Platform -->
                <form action="/companies/<%= p._id %>" method="GET">
                    <input type="submit" value="More Info">
                </form>
            </td>
            <td>
                <!-- POST request to favorite the chosen AI Platform -->
                <form action="/favorites/<%= p.id %>" method="POST">
                    <input type="submit" value="Favorite">
                </form>
            </td>
        </tr>
    <% }); %>
    </tbody>
</table>

<%- include("../partials/footer"); %>
